{{- $RequestMethod := .RequestMethod }}
{{- $RequestURLPath := .RequestURLPath }}
{{- $RequestHeader := .RequestHeader }}
{{- $RequestBody := .RequestBody }}
{{- $ResponseHeader := .ResponseHeader }}
{{- $ResponseBody := .ResponseBody }}
{{- $ResponseStatus := .ResponseStatus }}
{{- $RecordSequence := .RecordSequence }}
{{- $ResponseContentType := .ResponseContentType -}}
## Interaction {{ $RecordSequence }}: {{ $RequestMethod }} {{- $RequestURLPath }}

### Request headers recorded for playback:

```
{{ range $key, $values := $RequestHeader }}
  {{- $key}}: {{ range $value := $values}} {{- $value }} {{- end }}
{{ end }}
```

### Request body recorded for playback ():

```
{{ $RequestBody }}
```


### Response headers recorded for playback:

```
{{ range $key, $values := $ResponseHeader }}
  {{- $key}}: {{ range $value := $values}} {{- $value }} {{- end }}
{{ end }}
```

### Response body recorded for playback ({{- $ResponseStatus }}: {{- $ResponseContentType }}):

```
{{ $ResponseBody }}
```
